/* Page*/
body{
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgb(44,62,80);    
}

/* Header */
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
}

.preview-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 3px solid red;
    height: 40px;
    margin-bottom: 10px;
    margin: 0;
    background-color: white;
}

.overview{
    border: white;
    background-color: white;
    color: gray;
    height: 30px;
    font-size: x-small;
    border-radius: 5px;
    letter-spacing: 1px;
}

.overview:hover{
    border: white;
    background-color: lightgray;
    color: rgb(243, 243, 243);
    font-size: x-small;
}

.preview-bar .preview-buttons{
    display: flex;
}

.preview-bar .preview-buttons button{
    display: flex;
    border-radius: 200px;
    border: 0px;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border: white;
    background-color: rgb(255, 255, 255);
    border-bottom: 10px;
}

.preview-bar img{
    width: 20px;
    height: 20px;
}

.other-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;    
    height: 100%;
}

.btn:hover{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.download{
    display: flex;
    align-items: center;
    height: 30px;
    border: white;
    background-color: rgb(242, 231, 235);
    border-radius: 5px;
    margin: 0px 5px 0px 5px
}

.download img{
    margin-right: 5px;
}

.phone{
    width: 14px !important;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(44,62,80);
    width: 100%;
    position: fixed;
    top: 42px;
}

.navbar-buttons{
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-buttons button{
    margin: 0px 5px 0px 5px;
    height: 80%;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(44,62,80);;
    border: rgb(44,62,80);
    color: #FFF;
}

.navbar-buttons button:hover{
    color: #1abc9c
}

.navbar h2{
    margin: 0px;
    color: #fff;
}

.button-github{
    border: white;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.close{
    border: white;
    background-color: rgb(255, 255, 255);
    color: gray;
    border-radius: 100px;
    height: 40px;
    width: 40px;
}

.github{
    width: 12px;
}

/* Body */
.page-body{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #1abc9c;
    background-color: white;  
}

.landing-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #1abc9c;
}

.landing-div h1 {
    color: white;
    font-size: 4rem;
    margin-bottom: 10px;
}

.landing-div h2 {
    color: white;
    margin-bottom: 50px;
}

.landing-div img{
    width: 250px;
}

.profile-img{
    width: 15rem;
    margin-top: 30px;
}

.portfolio-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.portfolio-div h1{
    font-size: 3rem;
    color: rgb(44,62,80);
    margin-bottom: 20px;
}

.star{
    width: 250px;
    margin-bottom: 20px;
}

.portfolio-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 80px 0px 80px;
}

.portfolio-images img{
    width: 29%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 45px;
}

.portfolio-images img:hover{
    background-color: #1abc9c;
    opacity: 30%;
}

.about-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #1abc9c;
    padding-bottom: 80px;
}

.about-div h1{
    font-size: 3rem;
    color: #FFF;
}

.about-div img{
    width: 250px;
}

.about-div button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #1abc9c;
    color: white;
    margin: 20px;
}

.about-div button:hover{
    background-color: #FFF;
    color: #1abc9c;
}

.about-div svg{
    width: 20px;
    height:20px;
    margin-right:5px
}

.about-text{
    align-items: flex-start;    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-text p{
    width: 400px;
}

.contact-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.contact-div h1{
    font-size: 2.5rem;
    color:rgb(44,62,80);
}

.contact-div img{
    width: 250px;
}

.contact-msg{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 400px;
    justify-content: space-between;
}

.contact-msg input{
    height: 30%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    margin-bottom: 30px;
    font-size: 25px;
    color: gray;
}

.contact-msg input:focus{
    height: 30%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    margin-bottom: 30px;
    font-size: 10px;
    color: gray;
    display: flex;
    align-items: top;
}


.contact-msg button{
    background-color: #1abc9c;
    color: white;
    font-size: large;
    font-weight: bold;
    height: 140px;
    width: 90px;
    border-radius: 10px;
    border: white;

}


/* Footer */
.footer{
    margin-top: 90px;
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.main-footer{
    align-items: flex-start;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: rgb(44,62,80);
    color: white;
}

.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.location p{
    width: 200px;
    text-align: center;
}

.web{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    background-color: rgb(44,62,80);
}

.web-buttons{
    display: flex;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.web-buttons button{
    border-radius: 50px;
    height: 40px;
    width: 40px;
    border: 2px solid white;
    background-color: rgb(44,62,80);;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
}

.web-buttons button:hover{
    background-color: white;;
    color: #000;
}

.web-buttons svg{
    height:30px;
    width:30px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.about p {
    text-align: center;
}

.copy-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #212529;
    color: white;
    width: 100%;
    border-top: 2px solid gray;
}
